/* Nền mờ overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    /* Nền mờ */
    z-index: 1050;
    /* Hiển thị trên tất cả */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Spinner căn giữa */
.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}